/* About Us Page Css */

/* General Css */
.main{
    margin: 2rem 1rem;
}

.title {
    color: var(--color-primary);
}
.description{
    color: var(--text-primary);
}

/* About Page Header */
.about-header{
    text-align: center;
}
.about-header .title {
    color: var(--color-primary);
    font-weight: 600;
}

.about-header .description {
    color: var(--text-accent);
    max-width: 600px;
    margin: 0 auto;
}

.hr {
  width: 90%;
  height: 2px;
  background-color: var(--text-accent);
  border: none;
  margin: 2rem auto;
}

/* Our Mission Section */
.our-mission{
    margin: 2rem 0;
}

.mission-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.mission-texts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
}

.our-mission .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-mission .logo {
    max-width: 250px;
}

/* Make it responsive */
@media (min-width: 768px) {
    .our-mission{
        margin: 2rem 1rem;
    }
    .mission-container{
        flex-direction: row;
    }
}