/* CSS Reset: Removes browsers default margins and paddings */
*{
    margin: 0;
    padding: 0;
    /* Changes the way width and height are calculated
    ** Width and height now include the padding and the border
    */
    box-sizing: border-box;
}


body{
    background-color: var(--background);
}

/* Carousel style */
.main-carousel{
    margin: 2rem 1rem;
}

.main-article .article-image{
    width: 100%;
    height: auto;
    margin-bottom: 0.75rem;
}


/* Set colors for texts */
.title{
    color: var(--color-primary);
}

.description{
    color: var(--text-accent);
}

.date{
    color: var(--text-accent);
}