/* CSS Reset: Removes browsers default margins and paddings */
*{
    margin: 0;
    padding: 0;
    /* Changes the way width and height are calculated
    ** Width and height now include the padding and the border
    */
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background);
    height: 100vh;
}

/* Reset bootstrap paragraph margins */
p{
    margin-bottom: 0!important;
}

