/* Color Schemes */ 

/* Light mode (default) */
:root {
  --color-primary: #0066A9;
  --text-primary: #000000;
  --text-accent: #6F6A6A;
  --color-secondary: #FFFFFF;
  --badge-bg: #3D7396;
  --card-bg: #F6F6F6;
  --card-border: #CDCDCD;
  --background: #FDFDFD;
  --footer-bg: #E5E9EB;
  --search-bg: #EFEFEF;
  --search-text: #6F6A6A;
  --theme-toggle-bg: #EFEFEF;
  --theme-toggle-current-bg: #0066A9;
}

/* Dark mode */
[data-theme="dark"] {
  --color-primary: #FFFFFF;
  --text-primary: #FFFFFF;
  --text-accent: #FFFFFFB2;
  --card-bg: #021826;
  --background: #0C1019;
  --footer-bg: #000000;
/*   --search-bg: #021826;
  --search-text: #FFFFFF; */
  --theme-toggle-bg: #021826;
}
